<div class="main welcome-container">
    <div class="panel we7-panel wxapp-target">
        <div class="panel-heading">
            今日签到统计
        </div>
        <div class="panel-body we7-padding-vertical">
            <div class="col-sm-3 text-center">
                <div class="title">总奖金(元)</div>
                <div>
                    <span class="today">{$today_stat['reward']}</span>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="title">总参与人数</div>
                <div>
                    <span class="today">{$today_stat['member']}</span>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="title">打卡成功人数</div>
                <div>
                    <span class="today">{$today_stat['success']}</span>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="title">打卡失败人数</div>
                <div>
                    <span class="today">{$today_stat['fail']}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel we7-panel wxapp-target">
        <div class="panel-heading">
            昨日签到统计
        </div>
        <div class="panel-body we7-padding-vertical">
            <div class="col-sm-3 text-center">
                <div class="title">总奖金(元)</div>
                <div>
                    <span class="today">{$yestoday_stat['reward']}</span>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="title">总参与人数</div>
                <div>
                    <span class="today">{$yestoday_stat['member']}</span>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="title">打卡成功人数</div>
                <div>
                    <span class="today">{$yestoday_stat['success']}</span>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="title">打卡失败人数</div>
                <div>
                    <span class="today">{$yestoday_stat['fail']}</span>
                </div>
            </div>
        </div>
    </div>
</div>