{template 'common/header'}
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    确定要删除该条数据？
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success">确定</button>
            <a class="btn btn-default" href="#" onclick="history.back(-1);">取消</a>
        </div>
    </div>
</form>
{template 'common/footer'}