<!--底部-->
<div class="bottom_box"><div class="db_content">
	<div class="db_com">
		<div class="dc_c1">
			<div style="text-align:left;">
				<p>{$company['title']}</p><p>电话：{$company['phone']}&nbsp;</p>                    </div>
			展厅地址：{$company['address']} &nbsp;

		</div>
	</div>
	<div class="izl-rmenu">
		<a class="consult" target="_blank"><br />
			<div style="display:none;" class="phone">{$company['phone']}</div>
		</a>
		<!--<a class="cart"><div class="pic" style="background:url({MODULE_URL}template/styles/images/1_c29fe9d86fd350bbb6b94410404b2e2b.jpg);"></div></a>-->
		<a style="display:block;" class="btn_top" href="javascript:void(0)"></a>
	</div>
	<a style="display:block;background-color:black;" id="udesk-feedback-tab" class="udesk-feedback-tab-left" href="http://wpa.qq.com/msgrd?v=3&uin={$company['qq']}&site=qq&menu=yes" target="_blank"></a>
</div>
	<link rel="stylesheet" type="text/css" href="{MODULE_URL}template/styles/css/style_1.css" />
</div>