{template 'common/header-base'}
<div class="container" ng-controller="topController">
  <div class="row">
    <div class="col">
      <div class="box">
        <div class="box-content">
          <div class="kanjia-toplist" infinite-scroll="topreddit.nextPage()" infinite-scroll-disabled="topreddit.busy" infinite-scroll-distance="0">
            <a class="item clearfix" ng-repeat="item in topreddit.items" href='{{item.href}}'>
              <div class="number" ng-bind="item.number"></div>
              <div class="image">
                <img ng-src="{{item.headimgurl}}" alt=" "/>
              </div>
              <div class="nickname" ng-bind="item.nickname"></div>
              <div class="price text-right">¥&nbsp;{{item.price}}</div>
            </a>
          </div>
          <div class="loading text-center" ng-show="topreddit.load">
            <img src="{MODULE_URL}images/loading.gif"/>
            正在加载中…
          </div>
          <div class="last text-center" ng-show="topreddit.last">没有更多内容了</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--底部导航-->
<div class="footer-fixed">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="footer-nav">
          <li class="item {if $_GPC['do'] == 'list'}active{/if}">
            <a href="{php echo $this->createMobileUrl('list')}">
              <div class="font icon-home"></div>
              <div class="text">首页</div>
            </a>
          </li>
          {if !empty($kanjia["join_url"])}
          <li class="item {if $_GPC['do'] == 'list'}active{/if}">
            <a href="{$kanjia['join_url']}">
              <div class="font icon-shop"></div>
              <div class="text">商家入驻</div>
            </a>
          </li>
          {/if}
          <li class="item {if $_GPC['do'] == 'top'}active{/if}">
            <a href="{php echo $this->createMobileUrl('top', array('id'=>intval($_GPC['id'])))}">
              <div class="font icon-top"></div>
              <div class="text">排行榜</div>
            </a>
          </li>
          <li class="item {if $_GPC['do'] == 'myjoin'}active{/if}">
            <a href="{php echo $this->createMobileUrl('myjoin')}">
              <div class="font icon-user"></div>
              <div class="text">我的</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<style media="screen">
body{
  padding-bottom: 4.4rem;
}
</style>
<script type="text/javascript">
var KANJIA_TOP_URL = "{php echo $this->createMobileUrl('topajax')}";
var KANJIA_ID = "{$_GPC['id']}";
</script>
{template 'common/footer-base'}
